.tags.post{
  font-size: 1.6em;
  line-height: 170%;
  margin-bottom: 20px;

  a{ color: #4873A8; white-space: nowrap; }
  b{ font-weight: normal; }

  .separator{
    margin: 0 5px;
    color: #D9593D;
    font-weight: bold;
  }
}
