.row
  .col-xs-3
    = content_tag :button, type: :submit, action: user_omniauth_authorize_path(:twitter), class: 'btn btn-twitter login-popup', 'data-width'=>600, 'data-height'=>400 do
      %i.fa.fa-twitter
      | Login with Twitter
  .col-xs-3
    = content_tag :button, type: :submit, action: user_omniauth_authorize_path(:facebook), class: 'btn btn-facebook login-popup', 'data-width'=>600, 'data-height'=>400 do
      %i.fa.fa-facebook
      | Login with Facebook
  .col-xs-3
    = content_tag :button, type: :submit, action: user_omniauth_authorize_path(:vkontakte), class: 'btn btn-vk login-popup', 'data-width'=>600, 'data-height'=>400 do
      %i.fa.fa-vk
      | Login with VKontakte