# See http://help.github.com/ignore-files/ for more about ignoring files.

dumps/*

# Ignore bundler config.
/.bundle

# Ignore binstubs
bin/*

PASSWORDS.txt
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# DB
db/*.db
db/*.sqlite3

public/uploads/*
public/old_uploads/*
public/assets

public/system
public/system/*

# local config files
.rvmrc
.ruby-gemset
.ruby-version

# OS files
.DS_Store
.DS_Store?
Thumbs.db