%h3{ style: arial + fs18 } Сменить пароль на сайте ArtElectronics.ru

%p{ style: arial + fs18 } Здравствуйте!
%p{ style: arial + fs18 } Вы получили это письмо, потому что являетесь зарегистрированным пользователем сайта <b>ArtElectronics.ru</b>

%p{ style: arial + fs18 } Недавно <b>мы обновили сайт</b> и поэтому просим Вас <b>обновить ваш пароль</b> для входа в личный кабинет. Пожалуйста, пройдите по указанной ниже ссылке:

%table{ table, tbg('#d9593d') }
  %tr
    %td{ td }
      = link_to 'Сменить мой пароль на Art Electronics',  edit_password_url(@resource, reset_password_token: @token, uef: @resource.email.to_the_encrypted), style: arial + fs18 + fc('#ffffff', true) + p10 + lh300

-# %p{ style: arial + fs18 } Кто-то (вероятно вы), начал процедуру смены пароля на сайте ArtElectronics.ru
-# %p{ style: arial + fs18 } Если вы хотите сменить пароль, перейдите по ссылке ниже

%p{ style: arial + fs18 }
  Если у Вас возникли трудности, то сообщите о них нашему редактору на email <b>djennet@artelectronics.ru</b> и мы обязательно все решим.

%hr
%p{ style: arial + fs18 } Если это письмо пришло на адрес <b>#{ @resource.email }</b> по ошибке, или процесс смены пароля начали не вы, то пожалуйста, просто проигнорируйте письмо
