%table.table
  %tr
    %td
      %p © 2001 — #{ Time.now.year } ООО «Арт Электроникс Проджект». Все права защищены.
      %p Сайт может содержать контент, не предназначенный для лиц младше 18-ти лет. Копирование материалов сайта возможно только с указанием полной активной ссылки на сайт artelectronics.ru.
      %p ArtElectronics.ru — это интернет-журнал о самых обсуждаемых трендах будущего: освоении космоса, искусственном разуме и новейших технологиях. Интерактивные future-статьи, новости современного актуального искусства, кино, музыки, дизайна, литературы, архитектуры. Новинки электроники. Новейшие цифровые технологии. Анонсы событий в мире современного актуального искусства. Интервью с художниками, писателями, футурологами

  -#
    - if !(spages = system_pages).blank?
      %tr
        %td
          %ul.nav.nav-pills.nav-justified
            - spages.each do |page|
              %li= link_to page.title, page_url(page.slug)