$hide_viewer_message_hight: 20px;

@mixin opacity($opacity) {
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})";
  opacity: $opacity / 100;
  -moz-opacity: $opacity / 100;
}

@mixin overblock{
  overflow: hidden;
  zoom: 1;
}

@mixin inline-block{
  display: inline-block;
  zoom: 1;
}

.hide_block{ display: none; }

.hide_viewer{
  position: absolute;
  top: 0px; left: 43%;
  line-height: 10px;
  padding: 0 15px;
  display: block;
  color: #FFFFFF;
  height: $hide_viewer_message_hight;
  z-index: 1;
  .bg{
    @include opacity(50);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%; height: 100%;
    background: #0000CC;
    position: absolute;
    top: -5px; left: 0;
    z-index: -1;
  }
  a{
    color: white;
    width: 100%; height: 100%;
    display: block;
    text-decoration: none;
    &:hover{ text-decoration: underline; }
  }
}

#viewer{
  position: absolute;
  top: $hide_viewer_message_hight; left: 0;
  border: 1px solid white;
  z-index: 100;
}

.post_versions_links{
  @include overblock;
  table{
    align: center;
    width: 100%;
    tr{
      text-align: center;
    }
  }
  a{
    @include inline-block;
    height: 49px;
    line-height: 49px;
    padding-left: 60px;
    
    color: #003366;
    border: none;
    &:hover{
      border: none;
      text-decoration: none;
    }
    margin: 0 30px 0 0;
    background: url("/images/versions.png") no-repeat scroll 0 0 
    transparent;
    
    &.flash_version{
      background-position: 0px -98px;
      &:hover{ background-position: 0 -148px; }
    }
    &.pdf_version{
      &:hover{ background-position: 0 -49px; }
    }
  }
}
