- content_for :title do
  Онлайн-журнал Art Electronics. Future-журнал (интернет-журнал будущего). Интерактивные future-статьи, интервью, новости культуры и искусства, цифровых технологий

%meta{ name: :description, content: "Читайте наш интернет-журнал абсолютно бесплатно. Можно скачать PDF версию. Полиграфический журнал в прошлом, ART ELECTRONICS становится ONLINE-изданием. Можно писать декларацию независимости от бумаги, отряхивая полиграфическую пыль. Читать интервью, читать статьи о культуре, искусстве, технике и технологиях" }
%meta{ name: :keywords,    content: "интернет журнал, журнал будущего, сайт культура и искусство, прогнозы развития будущего, интервью читать, читать статью, электронный журнал, рецензии на альбомы, новинки электроники" }
