= content_for :full_width do
  .posts
    %br
    %br
    %br
    %br
    %center
      %h1 Страница не найдена

      - 2.times do
        %br
        %br
        %br
        %br
        %br
      %p
        Данная страница недоступна.
        %br
        Вероятно она была удалена или переведена в состояние "Черновик"

      - 2.times do
        %br
        %br
        %br
        %br
        %br
