.viewer_block.hide_block{ data:{'swf-url' => "#{@post.future_text}", 'swf-type' => "#{ @post.get_future_type}"} }
  .hide_viewer
    .bg
    = link_to t('.close'), '#', id: 'viewer_close_message'
  #viewer