.logined_comment_form{
  .user_data{
    float: left;

    img{
      margin-bottom: 10px;
      border-radius: 100%;
      width: 42px; height: 42px;
      box-shadow: 1px 1px 5px #000000;
    }
  }
  .user_name{
    font-size: 13px;
    margin-bottom: 10px;
  }
  .comment_data{
    margin-left: 60px;
  }
}

.comments_sum{
  color: #333;
  font-size: 2.2em;
  font-weight: normal;
  margin-bottom: 15px;
}
.comments_description{
  margin: 15px 0 15px 0;
  background: #eff5f3;
  padding: 10px;
  border-radius: 4px;
}

.comments_tree, .comments_list, .black_list{
  font-family: Arial;

  margin:0;
  padding:0;
  margin-bottom: 30px;

  *{ margin: 0; padding: 0; font-size: inherit; }

  a{ text-decoration: none; }
  a:hover{ text-decoration: underline; }

  ol{
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none outside none;
  }
  li{
    margin-bottom: 5px;
    position: relative;
    list-style: none outside none;
  }
}

.comments, .comments_tree{
  font-family: Arial;
  font-size: 13px;

  h3{ font-size: 1.6em; }

  .error_notifier{
    background-color: #F2DEDE;
    border: 1px solid #B94A48;
    color: #B94A48;

    border-radius: 4px;
    margin: 0 0 15px 0;
    padding: 10px 10px 0 10px;
    overflow: hidden;

    p{ margin: 0 0 10px 0; }
  }
  form{
    background: #eff5f3;
    border-radius: 5px;
    padding: 10px;

    p{ margin: 0 0 10px 0; }

    input[type=text]{
      font-size: 15px;
      // border: 1px solid gray;
      padding: 7px;
      width: 75%;
    }
    label{ font-size: 15px; }
    textarea{
      font-family: Arial;
      font-size: 15px;
      height: 150px;
      padding: 7px;
      width: 75%;
    }
    .trap{
      margin: 0; padding: 0;
      filter: alpha(opacity=0.001);
      height: 0.1px;
      opacity: 0.001;
      overflow: hidden;
    }
  }
}

.comments_tree{
  .nested_set{
    border-left: 1px dotted lightGray;
  }

  li{
    .comment.draft{
      // border: 1px solid gray;
      background: #eff5f3;
      padding: 10px;
    }
  }

  .form_holder{ margin-left: 60px; }

  .edit, .delete{
    margin-bottom: 3px;
    text-align:center;
    line-height: 130%;
    background: #336;
    color: white;
    padding: 1px;
  }
  .delete{ background: gray; }

  .comment{
    overflow: hidden; zoom: 1;

    .userpic{
      overflow: hidden; zoom: 1;
      padding: 5px 0 0 5px;
      float: left;
      width: 50px;

      img{
        margin-bottom: 10px;
        border-radius: 100%;
        width: 42px; height: 42px;
        box-shadow: 1px 1px 5px #000000;
      }
    }
    .userbar, .cbody{
      margin: 0 0 5px 65px;
      padding: 3px;
    }
    .userbar{
      border-radius: 3px;
      // padding-left: 7px;
    }
    &.draft{
      .to_draft{ display: none; }
    }
    &.published{
      .to_published{ display: none; }
    }
    .cbody{
      color: #333;
      font-family: Verdana;
      font-size: 16px;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      line-height: 160%;
      margin-bottom: 3px;
      overflow: hidden;
    }
    .reply{
      font-family: Verdana;
      color: #6093BF;
      margin: 0 0 5px 65px;
      font-size: 14px;
    }
  }

  .controls{
    a{
      font-size:11px;
      display:block;
    }
  }

  .comment{
    margin-bottom: 10px;

    &.published, &.draft{
      margin-bottom: 25px;
      border-radius: 3px;
      padding: 5px;
    }
    // &.highlighted{ border: 1px dashed #ff6633 !important; }
  }

  .form_holder{
    form{ margin: 10px 0; }
  }
}

.new_comment{
  .btn{
    padding: 5px;
    cursor: pointer;
    border: 0 none;
    border-radius: 5px;

    color: white;
    font-size: 1.3em;
    background: #d9593d;
  }
}

.comments_list{
  li{
    margin-bottom: 20px;

    .item{
      // border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
    }

    .draft{
      border-left: 5px solid orange;

      .controls{
        a.to_draft{ display: none }
      }
    }
    .published{
      border-left: 5px solid green;

      .controls{
        a.to_published{ display: none; }
      }
    }

    .deleted{
      border-left: 5px solid red;

      .controls{
        a.to_deleted, a.to_spam{ display: none; }
      }
    }

    .comment{
      div{ margin: 0 0 10px 0; }

      label{
        width: 75px;
        font-weight: bold;
        display: inline-block;
      }
      input[type=text]{
        width: 70%;
        // padding: 4px;
      }
      input[type=submit]{
        // padding: 5px;
        cursor: pointer;
      }
      textarea{
        width: 70%;
        // padding: 4px;
        height: 150px;
      }
      .content{
        line-height: 130%;
        background: #ddd;
        padding: 10px;
      }
      .commentable{
        margin-bottom: 10px;
      }
      .controls{
        background: lightgray;
        padding: 3px;
        a{ margin-right: 15px; }
      }
    }
  }
}

.black_list{
  li{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    &.warning{
      border-left: 5px solid orange;
      .to_warning{ display: none; }
    }
    &.banned{
      border-left: 5px solid black;
      .to_banned{ display: none; }
    }
  }
  p{
    margin-bottom: 10px;
  }
}
