- content_for :express_nav do
  %p= link_to t('app.cabinet'), cabinet_url
  %p= link_to t('posts.show'), url_for(@holder)
  %p= link_to t('posts.edit'), url_for([:edit, @holder])

.alert.alert-info
  %p Данная форма позволяет выполнить точную настройку Мета данных публикации.
  %p Как правило, значений которые формируются по умолчанию вполне достсточно.
  %p Если вы не уверены в результате, пожалуйста, оставьте эти поля пустыми.

%h1 Редактировать Метаданные

= render 'meta_data/form'

.alert.alert-warning
  %ol
    %li
      Для каждой публикации формируются дефолтные МетаДанные на основе информации из публикации.
      Эти же дефолные значения будут использованы для формирования OG тегов
      %br
      %br
    %li
      Если поля из секции
      %b Главные мета поля
      не пусты, то в мета теги будет подставлена информация из этих полей.
      Так же эта информация станет использоваться для OG тегов
      %br
      %br
    %li
      Если поля из секции
      %b OpenGraph поля
      не пусты, то в OG мета теги будет подставлена информация из этих полей.
      Эти значения влияют только на OG мета теги

