upstream artelectronics.ru {
  server unix:/home/rails/artelectronics.ru/tmp/sockets/puma.sock fail_timeout=15;
}

# REDIRECT: Any subdomain to main domain
server {
  listen 80;
  listen 443 ssl;
  server_name *.artelectronics.ru;

  ssl_certificate /etc/letsencrypt/live/artelectronics.ru/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/artelectronics.ru/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  ssl_stapling on;
  ssl_stapling_verify on;
  add_header Strict-Transport-Security max-age=15768000;

  access_log /home/rails/artelectronics.ru/log/artelectronics.ru.nginx.log;
  error_log  /home/rails/artelectronics.ru/log/artelectronics.ru.nginx.errors.log;

  rewrite ^ http://artelectronics.ru$uri permanent;
}

server{
  listen 80;
  server_name artelectronics.ru;

  if ($ssl_protocol = "") {
    rewrite ^ https://artelectronics.ru$uri permanent;
  }

  listen 443 ssl;
  ssl_certificate /etc/letsencrypt/live/artelectronics.ru/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/artelectronics.ru/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  ssl_stapling on;
  ssl_stapling_verify on;
  add_header Strict-Transport-Security max-age=15768000;

  deny 5.18.83.52;
  deny 91.242.33.8;

  ### ~  case sensitive   http user agent blocking  ###
  ### ~* case insensitive http user agent blocking  ###
  if ($http_user_agent ~* (MegaIndex|AcoiRobot|majestic12) ) {
    return 403;
  }

  # Logs
  access_log /home/rails/artelectronics.ru/log/artelectronics.ru.nginx.log;
  error_log  /home/rails/artelectronics.ru/log/artelectronics.ru.nginx.errors.log;

  # etag off;
  charset utf-8;
  proxy_intercept_errors on;

  root /home/rails/artelectronics.ru/public;
  client_max_body_size 256m;

  error_page 502 503 504 /maintenance.html;

  # /system/maintenance/index.html

  location ~ ^/(assets|uploads|special_posts|images|system|default_images)/ {
    expires max;
    gzip_static on;
    add_header Cache-Control public;
  }

  location / {
    try_files $uri @web_site;
  }

  location @web_site {
    proxy_pass http://artelectronics.ru;

    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_read_timeout 300;
    proxy_buffer_size 16k;
    proxy_buffers 32 16k;

    proxy_set_header X-Forwarded-Proto $scheme;
  }

  # WebSocket configure
  location /app-cable {
    proxy_pass http://artelectronics.ru;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location ~ /\.git {
    deny all;
  }

  location ~ /\.ht {
    deny all;
  }

  location ~ /\.svn {
    deny all;
  }

  location ^~ /awstatsicons/ {
    alias /var/www/awstats/icon/;
  }
}
