development:
  adapter: mysql2
  database: ae_project_new
  username: root
  password:
  host: localhost
  encoding: utf8
  timeout: 5000

old:
  adapter: mysql2
  database: ae_project_old
  host: localhost
  username: root
  password:
  encoding: utf8
  timeout: 5000

test:
  adapter: mysql2
  database: ae_project_test
  host: localhost
  username: zykin
  password: zykin
  encoding: utf8
  timeout: 5000