- 5.times do
  %br

%h3.center Ваша учетная запись была успешно создана
%p.center
  Пожалуйста, перейдите в свой почтовый ящик <b>#{ resource.email }</b>,
  что бы активировать вашу учетную запись

- 20.times do
  %br
