%h4 КАК ЭТО ЧИТАТЬ?

%p Очерк о Владимире Татлине построен как интерактивная связь объектов: текстовых блоков и иллюстраций (включая видеофильм). Каждый из элементов (текст или картинка) в какой-то мере самодостаточен: можно играть ими, выбирать их последовательность, пропускать ненужное и т.д. Иными словами, очерк, написанный линейно (традиционную версию см. ниже) превращен в двумерную информационную композицию. Подчеркнем, что в данном случае линейная и двумерная версии равнозначны. Однако некая ассоциативно выраженая информация однажды может сделать чисто линейную текстовую форму ущербной. Тогда дву- или трехмерные информационные поля окажутся востребованными. Мы ищем их форму.

%p
  %b Итак, первый шаг:

%p Стрелка в центре титульной странице - переход на страницу I. (Индикация страниц - квадратные пиктограммы вверху слева, темный квадрат означает открытую страницу.)

%p
  %b Пиктограммы на странице:

%p 1. Кружки с цифрами дают доступ к текстовым блокам (цифрами выражена их линейная последовательность). При наведении курсора на любой из кружков появляются светящиеся прямые линии, рисующие их связь.

%p 2. Фрагменты картинок при клике открывают окна иллюстраций.

%p 3. Стрелка в центре страницы - переход на следующую. Обратный порядок смены страниц может быть любым (при клике на пиктограмму-квадрат сверху слева), прямой - только от меньшего номера к большему (при клике на стрелку в центре).

%p
  %b
    %i Приятного чтения (или просмотра?)
%p
  %br
  %span.close_special_manual.btn.btn-default{style: 'font-size:1.6em'} Читать интерактивную статью
