facebook:
  app_id:     -62644225407-fake
  app_secret: -d60a1e17587e8df97898d6d13c88-fake

twitter:
  app_id:     -FuI2EG3feB1BaH2sII-fake
  app_secret: -aA76Xl22eOo16TCBOaqbSwaaS6xP9O8paHOrC-fake

vkontakte:    
  app_id:     -4243-fake
  app_secret: -iM9JVd2nRN2PKf-fake